.pagina_puntos_img {
    height: 50px;
    cursor: pointer;
    filter: invert();
}

.pagina_puntos_img_activa {
    height: 50px;
    cursor: pointer;
    filter: invert();
    filter: drop-shadow(2px 4px 6px black);
}
